NEXT_PUBLIC_SUPABASE_URL=https://rchlxqfpixbfuyhjyjsq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjaGx4cWZwaXhiZnV5aGp5anNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxOTk5NzUsImV4cCI6MjA5Mjc3NTk3NX0.OHwfUhNW-nu7tculVqW45Z4zgAyiv1pf2-hL6GXODYw
GROQ_API_KEY=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